In [14]:
import skimage.io
import skimage.feature
from statistics import mean
import os
import pandas as pd

len_jenis_trotar = len(os.listdir('dataset/aspal'))
count = 1
for number in range(1,len_jenis_trotar+1):
    data = []
    for file in os.listdir('dataset/aspal/aspal_'+str(number)):
        # ubah path nya sesuai lokasi datasetnya jika disimpan dibeda tempat
        # path = dataset/trotoar/trotoar_01/('+str(x)+').jpg
        im = skimage.io.imread('dataset/aspal/aspal_'+str(number)+'/'+str(file),as_gray=True)
        count +=1
        im = skimage.img_as_ubyte(im)
        g = skimage.feature.greycomatrix(im, [1], [0], 256, symmetric=True, normed=True)
        a1 = skimage.feature.greycoprops(g, 'contrast')[0][0]
        a2 = skimage.feature.greycoprops(g, 'energy')[0][0]
        a3 = skimage.feature.greycoprops(g, 'homogeneity')[0][0]
        a4 = skimage.feature.greycoprops(g, 'correlation')[0][0]
        a5 = skimage.feature.greycoprops(g, 'dissimilarity')[0][0]
        a6 = skimage.feature.greycoprops(g, 'ASM')[0][0]
        a7 = skimage.measure.shannon_entropy(g)
        temp = [a1, a2, a3, a4, a5, a6, a7];
        data.append(temp)
    dataframe = pd.DataFrame(data, columns = ['contrast', 'energy', 'homogeneity', 'correlation', 'dissimilarity', 'ASM', 'Entrophy'])
    dataframe.index +=1
    mean = [[
            dataframe['contrast'].mean(),dataframe['energy'].mean(),dataframe['homogeneity'].mean(),
            dataframe['correlation'].mean(),dataframe['dissimilarity'].mean(),dataframe['ASM'].mean(),
            dataframe['Entrophy'].mean()
           ]]
    dfmean = pd.DataFrame(mean, columns = ['contrast', 'energy', 'homogeneity', 'correlation', 'dissimilarity', 'ASM', 'Entrophy'])
    join = [dataframe,dfmean]
    completed_df = pd.concat(join)
    completed_df.rename(index={0:'Mean'}, inplace=True)
    datatoexcel = pd.ExcelWriter('excel/aspal{0}.xlsx'.format(number))
    completed_df.to_excel(datatoexcel)
    datatoexcel.save()
    print("DataFrame {0} is written to Excel File successfully.".format(number))
    completed_df

DataFrame 1 is written to Excel File successfully.
DataFrame 2 is written to Excel File successfully.
DataFrame 3 is written to Excel File successfully.
DataFrame 4 is written to Excel File successfully.
DataFrame 5 is written to Excel File successfully.
DataFrame 6 is written to Excel File successfully.
DataFrame 7 is written to Excel File successfully.
DataFrame 8 is written to Excel File successfully.
DataFrame 9 is written to Excel File successfully.

FileNotFoundError: [WinError 3] The system cannot find the path specified: 'dataset/aspal/aspal_10'

# menampilkan info detail tentang data yang ada di dataframe

In [15]:
print(dataframe.describe())
#tujuan dari code bagian ini untuk mendapatkan mean/rata-rata dari setiap fitur

         contrast     energy  homogeneity  correlation  dissimilarity  \
count   51.000000  51.000000    51.000000    51.000000      51.000000
mean   443.916703   0.016020     0.096064     0.711826      14.478739
std     75.058436   0.001938     0.016031     0.015744       1.551989
min    231.839511   0.014163     0.080614     0.690566      10.027173
25%    389.404824   0.014491     0.083073     0.699357      13.383661
50%    472.673600   0.014852     0.087401     0.709493      15.199941
75%    502.493676   0.017339     0.105364     0.715301      15.734712
max    534.686826   0.021859     0.142283     0.760816      16.207405

             ASM   Entrophy
count  51.000000  51.000000
mean    0.000260   2.721451
std     0.000066   0.174131
min     0.000201   2.164333
25%     0.000210   2.584370
50%     0.000221   2.807505
75%     0.000301   2.857295
max     0.000478   2.913691

# convert dataframe ke excel

file excel akan dibuat di folder yang sama dengan script ini

Convert Dataframe to Excel

In [7]:
print(len(os.listdir('dataset/trotoar/trotoar_7')))
for i in os.listdir('dataset/trotoar/trotoar_7'):
    print(i)

52
(307).jpg
(308).jpg
(309).jpg
(310).jpg
(311).jpg
(312).jpg
(313).jpg
(314).jpg
(315).jpg
(316).jpg
(317).jpg
(318).jpg
(319).jpg
(320).jpg
(321).jpg
(322).jpg
(323).jpg
(324).jpg
(325).jpg
(326).jpg
(327).jpg
(328).jpg
(329).jpg
(330).jpg
(331).jpg
(332).jpg
(333).jpg
(334).jpg
(335).jpg
(336).jpg
(337).jpg
(338).jpg
(339).jpg
(340).jpg
(341).jpg
(342).jpg
(343).jpg
(344).jpg
(345).jpg
(346).jpg
(347).jpg
(348).jpg
(349).jpg
(350).jpg
(351).jpg
(352).jpg
(353).jpg
(354).jpg
(355).jpg
(356).jpg
(357).jpg
.ipynb_checkpoints

In [7]:
os.listdir('dataset/trotoar/trotoar_'+str(number))

['(307).jpg',
 '(308).jpg',
 '(309).jpg',
 '(310).jpg',
 '(311).jpg',
 '(312).jpg',
 '(313).jpg',
 '(314).jpg',
 '(315).jpg',
 '(316).jpg',
 '(317).jpg',
 '(318).jpg',
 '(319).jpg',
 '(320).jpg',
 '(321).jpg',
 '(322).jpg',
 '(323).jpg',
 '(324).jpg',
 '(325).jpg',
 '(326).jpg',
 '(327).jpg',
 '(328).jpg',
 '(329).jpg',
 '(330).jpg',
 '(331).jpg',
 '(332).jpg',
 '(333).jpg',
 '(334).jpg',
 '(335).jpg',
 '(336).jpg',
 '(337).jpg',
 '(338).jpg',
 '(339).jpg',
 '(340).jpg',
 '(341).jpg',
 '(342).jpg',
 '(343).jpg',
 '(344).jpg',
 '(345).jpg',
 '(346).jpg',
 '(347).jpg',
 '(348).jpg',
 '(349).jpg',
 '(350).jpg',
 '(351).jpg',
 '(352).jpg',
 '(353).jpg',
 '(354).jpg',
 '(355).jpg',
 '(356).jpg',
 '(357).jpg',
 '.ipynb_checkpoints']